# Config example for local deployment

# Python
PYTHONPATH=src
DJANGO_SETTINGS_MODULE=ludamus.edges.settings

# Domains
ALLOWED_HOSTS=.localhost
ROOT_DOMAIN=localhost:8000
SESSION_COOKIE_DOMAIN=.localhost

# Auth0
AUTH0_CLIENT_ID=auth0_client_id
AUTH0_CLIENT_SECRET=auth0_client_secret
AUTH0_DOMAIN=auth0_domain

# Database
DB_NAME=dev.sqlite3
USE_POSTGRES=false

# Static files
GIT_COMMIT_SHA=1

# Membership API
MEMBERSHIP_API_BASE_URL=https://membership.example.com
MEMBERSHIP_API_TOKEN=membership-secret-token

# Other
DEBUG=true
ENV=development
SECRET_KEY=local-secret-key
