{% extends "base.html" %}
{% load i18n tessera %}
{% block title %}
    {% translate "Create Encounter" %}
{% endblock title %}
{% block header %}
    {% translate "Create Encounter" %}
{% endblock header %}
{% block body %}
    <div class="max-w-2xl mx-auto">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "notice_board/_form.html" %}
                    {% tessera_button "Create Encounter" %}
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
