{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Page Not Found" %} - 404
{% endblock title %}
{% block header %}
    {% translate "Page Not Found" %}
{% endblock header %}
{% block body %}
    <div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="error-template py-5">
                    <h1 class="display-1 text-muted">{{ error_code }}</h1>
                    <div class="mb-4">
                        <p class="fs-1">
                            <i class="bi bi-{{ icon }}"></i>
                        </p>
                    </div>
                    <h2>{{ title }}</h2>
                    <div class="error-details mb-4">
                        <p class="text-muted">
                            {{ message }}
                            <br>
                            <small>{{ subtitle }}</small>
                        </p>
                    </div>
                    <div class="error-actions">
                        <a href="{% url 'web:index' %}" class="btn btn-primary"><i class="bi bi-house"></i> {% translate "Go to Home" %}</a>
                        <button onclick="history.back()" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> {% translate "Go Back" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
