.main-content,
.page-footer,
.navbar {
  padding-inline: 0.5rem;
}

@media (min-width: 768px) {
  .main-content,
  .page-footer,
  .navbar {
    padding-inline: 1rem;
  }
}

@media (min-width: 992px) {
  .main-content,
  .page-footer,
  .navbar {
    padding-inline: 2rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-footer {
  margin-top: auto;
}

.cursor-pointer {
  cursor: pointer;
}
