{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block title %}
    {% translate "Edit profile" %}
{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header bg-white">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'web:crowd:profile' %}">
                                <i class="bi bi-person"></i>
                                {% translate "Personal Information" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'web:crowd:profile-connected-users' %}">
                                <i class="bi bi-people"></i>
                                {% translate "Connected users" %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    {% if user.confirmed_participations_count > 0 %}
                        <div class="alert alert-info mb-3">
                            <i class="bi bi-calendar-check"></i>
                            {% blocktranslate count counter=user.confirmed_participations_count %}
                                You have {{ counter }} confirmed session participation.
                            {% plural %}
                                You have {{ counter }} confirmed session participations.
                            {% endblocktranslate %}
                        </div>
                    {% endif %}
                    <form action="{% url 'web:crowd:profile' %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form layout="horizontal" horizontal_label_class="col-sm-2" horizontal_field_class="col-sm-4" %}
                        {% bootstrap_button button_type="submit" content="OK" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
